* {
  box-sizing: border-box;
}

html,
body {
  background: black;
  font-size: 20px;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

img {
  max-width: 100%;
}

.columns {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.columns > div {
  padding: 1em;
  position: relative;
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.columns > div:nth-of-type(4n) {
  background: rgb(117, 185, 190);
}
.columns > div:nth-of-type(4n + 1) {
  background: rgb(221, 217, 217);
}
.columns > div:nth-of-type(4n + 2) {
  background: rgb(179, 214, 198);
}
.columns > div:nth-of-type(4n + 3) {
  background: red;
}
